.git
.gradle
.idea
.vscode
build
node_modules

.env
.env.*
!*.example
application.properties
gcp-credentials.json
src/main/resources/gcp-credentials.json

*.log
*.jar
*.war
*.zip
hs_err_pid*
replay_pid*
